@import "../../../variables/variables";
.timeline {
  .timeline__container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    .timeline__container_heading {
      h1 {
        max-width: 174px;
        font-family: $fontFamily;
        font-weight: 700;
        font-size: 42px;
        line-height: 55px;

        color: $colorWhite;
      }
      p {
        max-width: 382px;

        font-family: $fontFamily;
        font-size: 18px;
        line-height: 32px;

        color: $colorWhite;
      }
    }
  }
}

@media screen and ($max-l) {
  .timeline {
    .timeline__container {
      flex-direction: column;
    }
  }
}

@media screen and ($max-s) {
  .timeline {
    .timeline__container {
      .timeline__container_heading {
        h1 {
          font-size: 28px !important;
          line-height: 36px !important;
        }
        p {
          font-size: 16px !important;
          line-height: 26px !important;
        }
      }
    }
  }
}
