@import "../../variables/variables";
.timeline-item {
  .timeline-item__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;

    padding: 3rem 0;
    border-bottom: 1px solid $colorWhite;
    .timeline-item__container_ball {
      width: 24px;
      height: 24px;

      background: $colorWhite;
      border-radius: 1000px;
      padding: 12px;
    }
    .timeline-item__container_body {
      h4 {
        max-width: 65px;

        font-family: $fontFamily;
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;

        letter-spacing: 0.28px;
        color: $colorWhite;
      }
      h5 {
        max-width: 162px;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;

        letter-spacing: 0.9px;
        text-transform: uppercase;
        font-family: $fontFamily;
        color: $colorWhite;
      }
      p {
        max-width: 600px;

        font-size: 18px;
        line-height: 32px;

        font-family: $fontFamily;
        color: $colorWhite;
      }
    }
  }
}

@media screen and ($max-s) {
  .timeline-item {
    .timeline-item__container {
      .timeline-item__container_body {
        h4 {
          line-height: 36px !important;
        }
        p {
          font-size: 16px !important;
          line-height: 26px !important;
        }
      }
    }
  }
}
